[Unit]
Description=Run mosmix-processor@mosmix_l.service on 03,09,15,21 UTC

[Timer]
Unit=mosmix-processor@mosmix_l.service
OnCalendar=3,9,15,21:0 UTC

[Install]
WantedBy=multi-user.target
