[Unit]
Description=Run mosmix-processor-l.service every hour

[Timer]
Unit=mosmix-processor@mosmix_s.service
OnCalendar=*:0

[Install]
WantedBy=multi-user.target
